<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
      <add name="Default" connectionString="Provider=SQLOLEDB;Data Source=.\DEV2016;User ID=CrudeLogin;Password=CrudePassword;Initial Catalog=CrudePortalDB;Application Name=Crude Portal" />
      <add name="ExampleSource1" connectionString="Provider=SQLOLEDB;Data Source=.;Integrated Security=True;Initial Catalog=DemoDB;Application Name=Crude Portal" />
    </connectionStrings>
    <appSettings>
      <add key="PortalTitle" value="CrudeASP" />
      <add key="WebPortalAdminEnabled" value="False" />
    </appSettings>
</configuration>
