<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
      <add name="Default" connectionString="Provider=SQLOLEDB;Data Source=.\DEV2016;User ID=CrudeLogin;Password=CrudePassword;Initial Catalog=CrudePortalDB;Application Name=Crude Portal" />
      <add name="ExampleSource1" connectionString="Provider=SQLOLEDB;Data Source=.;Integrated Security=SSPI;Initial Catalog=DemoDB;Application Name=Crude Portal" />
    </connectionStrings>
    <appSettings>
      <add key="PortalTitle" value="CrudeASP" />
      <add key="WebPortalAdminEnabled" value="False" />
    </appSettings>
    <system.webServer>
      <httpErrors errorMode="Custom" defaultResponseMode="Redirect">
        <remove statusCode="502" subStatusCode="-1" />
        <remove statusCode="501" subStatusCode="-1" />
        <remove statusCode="500" subStatusCode="-1" />
        <remove statusCode="404" subStatusCode="-1" />
        <error statusCode="404" prefixLanguageFilePath="" path="/CrudePortal/404.asp" responseMode="ExecuteURL" />
        <error statusCode="500" prefixLanguageFilePath="" path="/CrudePortal/500.asp" responseMode="ExecuteURL" />
        <error statusCode="501" prefixLanguageFilePath="" path="/CrudePortal/500.asp" responseMode="ExecuteURL" />
        <error statusCode="502" prefixLanguageFilePath="" path="/CrudePortal/500.asp" responseMode="ExecuteURL" />
      </httpErrors>
    </system.webServer>
</configuration>
